body {
    background-color: rgb(201, 198, 198);
}

.heading h1 {
    font-family: 'Wide Latin';
    font-size: 4rem;
    color: #062756;
    text-shadow: 5px 2px 1px #6cb3e2;
    margin: auto;
    padding: 2rem;
    width: 50%;
    text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#board {
    display: flex;
    margin: auto;
    border: 1rem solid #062756;
    border-radius: 1rem;
    box-shadow: 0px 0px 30px #6cb3e2;
}

#current_player {  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 3rem;
}

h2 {
    font-family: Tahoma;
    color: #062756;
    margin-bottom: 0;
}

.slot {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: #073a60;
    cursor: pointer;
}

.hole {
    width: 80px;
    height: 80px;
    transform: translate(-30px, -30px);
    border-radius: 50%;
    border: 40px solid #266a9c;
}

.player_hole {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 15px;
    
}

#popup {
    width: 300px;
    height: 150px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    border: 0.25rem solid #062756;
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #6cb3e2;
    z-index: 20;
    opacity: 0.8;
}

#popup h2 {
    font-size: 1.5rem;
    padding: 1rem;

}

#popup button {
    font-size: 16px;
    color: silver;
    background: #062756;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.player1 {
    background-color: #b00c0b;
}

.player2 {
    background-color: #ecd12f;
}